service devtitans.healthmonitoring-service /vendor/bin/hw/devtitans.healthmonitoring-service
        interface aidl devtitans.healthmonitoring.IHealthmonitoring/default
        class hal
        user root
        group root
